.home {
  background-color: lightgreen;
  display: flex;
}
ul.hero_model {
  display: flex;
  height: 400px;
  width: 300px;
  flex-direction: column;
  flex-wrap: wrap;
}
ul.hero_model li {
  list-style-type: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
ul.hero_model li.portrait {
  height: 200px;
  background-size: cover;
  background-image: url('./../../assets/images/equipment/placeholders/model.png');
}
.slot {
  width: 50px;
  height: 50px;
  background-color: red;
}
.hero_model_element:hover {
  cursor: pointer;
}
.head {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/helmet.svg');
}
.rings {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/linked-rings.svg');
}
.breastplate {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/breastplate.svg');
}
.necklace {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/necklace.svg');
}
.pants {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/armored-pants.svg');
}
.gauntlets {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/gauntlet.svg');
}
.belt {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/belt-armor.svg');
}
.boots {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/boots.svg');
}
.weapon {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/stiletto.svg');
}
.shield {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images/equipment/placeholders/round-shield.svg');
}
