.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #16638f;
  -ms-flex-item-align: center;
  align-self: center;
  min-width: 480px;
  position: relative;
}

.modal div {
  min-height: auto;
}

.modal_effects {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.modal_effects_lightspot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -40vh;
  z-index: 0;
  background: radial-gradient(
    rgba(var(--border_side_color_rgb), 0.7) 0,
    transparent 20vh
  );
}

.modal .inner_container {
  margin: 2px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 4px solid rgba(var(--border_secondary_color_rgb), 0.2);
  background-color: rgba(var(--border_accent_color_rgb), 0.5);
}

.modal .inner_container .header {
  position: relative;
  overflow: hidden;
  margin-bottom: 1px;
}

.modal .inner_container .header p {
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  padding: 8px 0;
  text-align: center;
}

.modal .inner_container .header p::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.2;
  background: to right, var(--border_accent_color) 0%,
    var(--border_side_color) 50%, var(--border_accent_color) 100%;
}

.modal .inner_container .header p::after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--border_accent_color)),
    color-stop(50%, var(--border_side_color)),
    to(var(--border_accent_color))
  );
  background: linear-gradient(
    to right,
    var(--border_accent_color) 0%,
    var(--border_side_color) 50%,
    var(--border_accent_color) 100%
  );
}

.modal .inner_container .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  padding: 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal .inner_container .footer {
  position: relative;
  margin-top: 1px;
  min-height: 40px;
}

.modal .inner_container .footer::before {
  content: '';
  height: 1px;
  display: block;
  position: absolute;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--border_accent_color)),
    color-stop(50%, rgba(var(--border_side_color_rgb), 0.5)),
    to(var(--border_accent_color))
  );
  background: linear-gradient(
    to right,
    var(--border_accent_color) 0%,
    rgba(var(--border_side_color_rgb), 0.5) 50%,
    var(--border_accent_color) 100%
  );
}

.corner_figure,
.top_left,
.top_right,
.bottom_left,
.bottom_right {
  width: 4px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid var(--border_side_color);
  position: absolute;
}

.corner_figure .dot,
.top_left .dot,
.top_right .dot,
.bottom_left .dot,
.bottom_right .dot {
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: var(--border_side_color);
}

.corner_figure::after,
.top_left::after,
.top_right::after,
.bottom_left::after,
.bottom_right::after {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  position: absolute;
  background-color: var(--border_side_color);
}

.corner_figure::before,
.top_left::before,
.top_right::before,
.bottom_left::before,
.bottom_right::before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  position: absolute;
  background-color: var(--border_side_color);
}

.top_left {
  top: -5px;
  left: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top_left::after {
  bottom: -12px;
  right: -12px;
}

.top_left::before {
  top: -12px;
  right: -12px;
}

.top_right {
  top: -5px;
  right: -5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.top_right::after {
  top: -12px;
  left: -12px;
}

.top_right::before {
  bottom: -12px;
  left: -12px;
}

.bottom_left {
  bottom: -5px;
  left: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bottom_left::after {
  top: -12px;
  left: -12px;
}

.bottom_left::before {
  right: -12px;
  top: -12px;
}

.bottom_right {
  bottom: -5px;
  right: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bottom_right::after {
  top: -12px;
  left: -12px;
}

.bottom_right::before {
  bottom: -12px;
  left: -12px;
}
