.animated_default_border {
  --angle: 0deg;
  border: 4px solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--border_accent_color),
      var(--border_secondary_color)
    )
    1;
  animation: 8s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
