.loginContainer {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url("./../../assets/images//screens_bg/login_screen_bg-min.jpeg");
}

.slided_menu {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 8vw;
  padding-bottom: 15vh;
  min-height: 240px;
}

.box {
  border: 2px solid red;
  width: 200px;
  height: 200px;
}

div.animated_menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.animated_menu_item {
  border-left: 2px solid var(--border_side_color);
  min-width: 150px;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, var(--border_accent_color)), to(transparent));
  background: linear-gradient(to right, var(--border_accent_color) 60%, transparent);
  margin: 2px 0;
  min-height: var(--cursor_height);
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  position: relative;
}

div.animated_menu_item p {
  color: #c7c2c2;
  font-size: 18px;
}

div.animated_menu_item.active {
  cursor: pointer;
  border-left: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, var(--border_secondary_color)), to(transparent));
  background: linear-gradient(to right, var(--border_secondary_color) 10%, transparent);
}

div.animated_menu_item.active::before {
  content: '';
  background-image: url("./../../assets/images//cursor/FF7Cursor.png");
  background-size: var(--cursor_height);
  background-repeat: no-repeat;
  position: absolute;
  left: -50px;
  top: calc(var(--cursor_height) * 0.4);
  height: 100%;
  width: 200px;
  -webkit-animation: bouncing 1s ease infinite;
          animation: bouncing 1s ease infinite;
}

div.animated_menu_item.active p {
  text-shadow: 2px 2px 2px black;
  color: #fff;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bouncing {
  0% {
    background-size: 38px;
  }
  50% {
    background-size: 42px;
  }
  100% {
    background-size: 38px;
  }
}

@keyframes bouncing {
  0% {
    background-size: 38px;
  }
  50% {
    background-size: 42px;
  }
  100% {
    background-size: 38px;
  }
}
