.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url('./../../assets/images//screens_bg/login_screen_bg-min.jpeg');
}

.slided_menu {
  align-self: flex-end;
  padding-left: 8vw;
  padding-bottom: 15vh;
}
