.home {
  background-color: lightgreen;
}
ul.hero_model {
  display: flex;
  height: 400px;
  width: 300px;
  flex-direction: column;
  flex-wrap: wrap;
}
ul.hero_model li {
  list-style-type: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
ul.hero_model li:nth-child(6) {
  height: 200px;
  background-size: cover;
  background-image: url('./../../assets/images//equipment/model.png');
}
.hero_model_element:hover {
  cursor: pointer;
}
.head {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/helmet.svg');
}
.rings {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/linked-rings.svg');
}
.breastplate {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/breastplate.svg');
}
.necklace {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/necklace.svg');
}
.pants {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/armored-pants.svg');
}
.gauntlet {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/gauntlet.svg');
}
.belt {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/belt-armor.svg');
}
.boots {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/boots.svg');
}
.weapon {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/stiletto.svg');
}
.shield {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('./../../assets/images//equipment/round-shield.svg');
}
