.navbar_container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 8px 16px;
}

.navbar_container li {
  list-style-type: none;
}

.nav {
  justify-content: space-between;
}

.user_icon {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
